<!-- <p>home works!</p> -->

<div class="content">
    <!-- Form Section: Right-aligned Enter ID form -->
    <div class="form-section">
        <h2>Enter ID</h2>
        <input type="text" placeholder="Input text here" [(ngModel)]="currentID" />
        <button (click)="findIdOld(currentID)">Find ID</button>
        
        <div class="or-text">OR</div> <!-- OR Text -->
        
        <button (click)="createId()">Toggle Fieldboxes</button>
    </div>

    <!-- Spacing using CSS instead of <br> -->
    
    <!-- Image Section -->
    <div class="image-section">
        <div class="image-placeholder">{{fraud}}</div> <!-- Circular placeholder -->
        <div class="id-list">
            
        </div>
    </div>

    <!-- Section for New ID form (will be populated dynamically) -->
    <div id="newIdSection" class="create-id-section"></div>

    <!-- Detect Fraud Button, shown when formVisible is true -->
    <div *ngIf="formVisible" class="detect-fraud-section">
        <button (click)="detectFraud()">Detect Fraud</button>
    </div>

    <!-- Save ID Button, shown when isIdSectionVisible is true -->
    <div *ngIf="isIdSectionVisible" class="detect-fraud-section">
        <button id="saveIdButton" (click)="saveIdForm()">Save ID</button>
    </div>
</div>
