<p>home works!</p>

<div class="content">
    <div class="form-section">
      <h2>Enter ID</h2>
      <input type="text" placeholder="Input text here" />
      <button>Find ID</button>
      <div class="content">OR</div>
      <button>Create ID</button>
    </div>

    <br>
    <br>
    
    <div class="image-section">
      <div class="image-placeholder">IMAGE</div>
      <div class="id-list">
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL;A</p>
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL</p>
      </div>
    </div>
  </div>