<p>home works!</p>

<div class="content">
    <div class="form-section">
        <h2>Enter ID</h2>
        <input type="text" placeholder="Input text here" [(ngModel)]="currentID" />
        <button (click)="findIdOld(currentID)">Find ID</button>
        <div class="content">OR</div>
        <button (click)="createId()">Create ID</button>
    </div>

    <br>
    <br>

    <div class="image-section">
        <div class="image-placeholder">{{fraud}}</div>
        <div class="id-list">
            <p>ASDFGHJKL</p>
            <p>ASDFGHJKL;A</p>
            <p>ASDFGHJKL</p>
            <p>ASDFGHJKL</p>
            <p>ASDFGHJKL</p>
            <p>ASDFGHJKL</p>
        </div>
    </div>

    <!-- Section for new ID form -->
    <div id="newIdSection" class="create-id-section"></div>

    <!-- Detect Fraud Button -->
    <div *ngIf="formVisible" class="detect-fraud-section">
        <button (click)="detectFraud()">Detect Fraud</button>
    </div>

    <div *ngIf="isIdSectionVisible" class="detect-fraud-section">
      <button id="saveIdButton" (click)="saveIdForm()">Save ID</button>
  </div>
</div>
