<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/model-info">Model Information</a></li>
      <li><a routerLink="/team">Team</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="form-section">
      <h2>Enter ID</h2>
      <input type="text" placeholder="Input text here" />
      <button>Find ID</button>
      <div class="content">OR</div>
      <button>Create ID</button>
    </div>

    <br>
    <br>
    
    <div class="image-section">
      <div class="image-placeholder">IMAGE</div>
      <div class="id-list">
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL;A</p>
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL</p>
        <p>ASDFGHJKL</p>
      </div>
    </div>
  </div>

  <div class="auth-section">
    <a routerLink="/login">Log In</a> |
    <a routerLink="/create-account">Create Account</a>
  </div>
</div>
