<h1>The Team</h1>
<p>
  Meet our talented HACKGT team! Each member brings unique skills and experiences.
</p>

<div class="team-container">
    <div class="team-member">
     <a href="https://www.linkedin.com/in/disha-baglodi?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAADY3MzYBmxwklxsEfdG98T2ZR900ugG-Q6w&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BDtuwrVWuRU6HvYcRKD3xBw%3D%3D" target="_blank">
      <img src="assets/pitcha.jpg" alt="Disha Baglodi" class="team-image">
      </a>
      <p>Disha Baglodi</p>
    </div>
    <div class="team-member">
     <a href="https://www.linkedin.com/in/saanvi-bhumpalle-4b30a4251/" target="_blank">
      <img src="assets/saanvi.jpg" alt="Saanvi Bhumpalle" class="team-image">
      </a>
      <p>Saanvi Bhumpalle</p>
    </div>
    <div class="team-member">
     <a href="https://www.linkedin.com/in/srimaaye-jegannathan/" target="_blank">
      <img src="assets/team-member3.jpg" alt="Srimaaye Jegennathan" class="team-image">
      </a>
      <p>Srimaaye Jegannathan</p>
    </div>
    <div class="team-member">
     <a href="https://www.linkedin.com/in/saanvi-molugu/" target="_blank">
      <img src="assets/team-member4.jpg" alt="Saanvi Molugu" class="team-image">
      </a>
      <p>Saanvi Molugu</p>
    </div>
  </div>