<h1>The Team</h1>
<p>
  Meet our talented HACKGT team! Each member brings unique skills and experiences.
</p>

<div class="team-container">
    <div class="team-member">
      <img src="assets/team-member1.jpg" alt="Disha Baglodi" class="team-image">
      <p>Disha Baglodi - fun des</p>
    </div>
    <div class="team-member">
      <img src="assets/team-member2.jpg" alt="Saanvi Bhumpalle" class="team-image">
      <p>Saanvi Bhumpalle</p>
    </div>
    <div class="team-member">
      <img src="assets/team-member3.jpg" alt="Srimaaye Jegennathan" class="team-image">
      <p>Srimaaye Jegennathan</p>
    </div>
    <div class="team-member">
      <img src="assets/team-member4.jpg" alt="Saanvi Molugu" class="team-image">
      <p>Saanvi Molugu</p>
    </div>
  </div>
  